<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495005222139-4musv4rlphet3tusj7i09v01u649q2sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495005222139-4musv4rlphet3tusj7i09v01u649q2sk</string>
	<key>API_KEY</key>
	<string>AIzaSyB4es1vzZ0fWb4vL_Iee5idtwr4kFXz6Do</string>
	<key>GCM_SENDER_ID</key>
	<string>495005222139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kamilnotes</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-project-a0aab</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-project-a0aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495005222139:ios:230324a8bd9edc4ed25c5e</string>
</dict>
</plist>